.burger-ingredients {
    height: 290px;
    overflow: auto;
    width: 100%;
}

.burger-ingredients p {
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.ingredients-block{
    background-color: #cf8f2e;
    border-radius: 3px;
    display: table;
    margin: 30px auto 0;
    max-width: 200px;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.ingredients-block p {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.ingr-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 20px;
}

.ingr-btns > div {
    display: flex;
}

.ingr-btn {
    background-color: #d39952;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: table;
    padding: 5px;
    width: 95px;
}

.burger-image {
    background-position: center;
    background-repeat: no-repeat;
    display: table;
    width: 100%;
}

.top  {
    background-image: url(../Assets/Top.png);
    background-size: 370px;
    height: 90px;
}


.lettuce  {
    background-image: url(../Assets/Lettuce.png);
    background-size: 400px;
    height: 33px;
}

.bacon {
    background-image: url(../Assets/Bacon.png);
    background-size: 370px;
    height: 27px;
}

.cheese {
    background-image: url(../Assets/Cheese.png);
    background-size: 400px;
    height: 28px;
}

.meat {
    background-image: url(../Assets/Meat.png);
    background-size: 380px;
    height: 38px;
}

.bottom  {
    background-image: url(../Assets/Bottom.png);
    background-size: 370px;
    height: 65px;
}

