.navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #703b09;
}

.nav-logo img {
    background-color: #fff;
    padding: 7px;
    margin-left: 15px;
    margin-top: 5px;
    height: 50px;
    border-radius: 5px;
}

.nav-items  a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    margin: 15px;
    position: relative;
    opacity: 0.9;
}

.nav-items  a:hover {
    opacity: 1;
}

.nav-items  a::before {
    background-color: #fff;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transition: all .45s;
    width: 0;
}

.nav-items  a:hover::before {
    width: 100%;
}


